<h1>comfimez mon compte</h1>
<p>Bonjour </p>
<p>Pour mieux utiliser nos services nous vous invitons à confirmer votre email en cliquant sur le lien ci-dessous.</p>
 <a href="{{ signedUrl|raw }}">Confirmez mon email.</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
